@charset "utf-8";
/* CSS Document */

.navbar-nav {
	margin-left: initial;
}

.nav>li {
	display: inline-block;	
}

.navbar-default {
	background: none;
	border: none;
	margin-top: 100px;
}

.nav-img {
	margin-top: -50px;
	margin-left: -5px;
}

.navbar-nav {
	margin-left: 100px;	
}

.pipes {
	margin-top: -15px;
	color: #D22129;
	font-size: 50px;
	font-weight: 300;
}

.home-img {
	height:  500px;
	width: 250px;
	margin-top: 100px;
}

#design {
	color: #D22129;
}

h3 {
	color: #53534F;
}

.p {
	color: #53534F;
	font-size:12px;	
}

#pricing-image {
	height:200px;
	width: 300px;
}

.res-img {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	vertical-align: bottom;
}
